html {
	background-color: black;
	color: #fff;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;	
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);	
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}
img {
	vertical-align: middle;
}
section {	
	padding: 2rem 2rem;
}

/* Desktop */
@media screen and (min-width: 768px) {
  section {
    padding-top: 7rem;
		padding-bottom: 6rem;
  }
}

/* ***HERO*** */
/* Mobile */
.hero h1 {
	font-size: 2rem;
	font-weight: 500;
	text-align: center;    
	margin-left: auto;
	margin-right: auto;
	line-height: 1.25;
	max-width: 60rem;
	margin-bottom: 3rem;
}
/* Desktop */
@media screen and (min-width: 768px) {
	.hero h1 {
		font-size: 2.65rem;
		margin-bottom: 5rem;
	}
}
.hero_flex {
	display: flex;
	justify-content: center;	
	flex-wrap: wrap;
	align-items: center;
}
.hero_item {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 1 350px;
	margin-bottom: 2.5rem;    
	border: 2px solid #BA28FF;    
	border-radius: 12px;
	padding: 2rem;    
}
@media screen and (min-width: 750px) {
	.hero_item:first-child {
		margin-right: 5rem;
	}
}
.icon_wrapper i {
	font-size: 3.5rem;
	margin-bottom: 0.75rem;    
}
.item_title {
	font-weight: 600;
	font-size: 1.2rem;
	margin-bottom: 0.75rem;
}  
.blurb {
	font-size: 1.1rem;
	text-align: center;
	margin-bottom: 2rem;
}
.item_button {
	border-radius: 12px;
	font-size: 1.1rem;
	padding: 12px 2rem 12px 2rem;
	border: 2px solid #BA28FF; 
	color: white;
	font-weight: 500;
}
.item_button:hover, .item_button:active {
	background-color: #BA28FF
}