<section id="danieleasterman">
  <!-- Header -->
  <div class="ecommerce-lp-header">
    <div class="ebook-section-wrapper">
      <div class="ebook-img-wrapper">
        <img
          class="ebook-img"
          alt="ecommerce ebook cover"
          src="{{ site.url }}/img/ecommerce/ebook.jpg"
        />
      </div>
      <div class="ebook-title-wrapper">
        <h1 class="ebook-title">
          Learn how to take payments and sell online with ease.
        </h1>
        <div class="ebook-button-wrapper">
          <a
            href="#launch-modal"
            target="_blank"
            class="manual-optin-trigger btn btn-default"
            >Get early access</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- /.intro-header -->
</section>
