<section id="danieleasterman">
  
  <div class="ecommerce-lp-header">
    
    <div class="ebook-section-wrapper">
      
      <div class="ebook-img-wrapper">
        <img
          class="ebook-img"
          alt="ecommerce ebook cover"
          src="{{ site.url }}/img/ecommerce/ebook.jpg"
        />
      </div>      
      
      <div class="ebook-title-wrapper"> 
          <h1 class="ebook-title">
            Learn how to set up payments and sell online with ease.
          </h1>
          
          <div class="ebook-button-wrapper">
            <a class="ebook-button" data-toggle="modal" href="#ecommModal" data-target="#ecommModal" target="_blank">Get early access</a>
          </div>
       <!-- End title wrapper (main flex child) -->
      </div>
    
    <!-- End section wrapper -->
    </div>

    <!-- End lp-header -->
  </div>  

</section>
