<!-- Ecomm Modal -->
<div
  class="portfolio-modal modal fade"
  id="ecommModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="ebook-modal-wrapper">
    <!-- Begin Mailchimp Signup Form -->
    <link
      href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css"
      rel="stylesheet"
      type="text/css"
    />

    <div id="mc_embed_signup">
      <button
        class="ebook-modal-close-button"
        data-dismiss="modal"
        tabindex="1"
      >
        <svg viewBox="0 0 384 512" style="display:block;height:18px;width:18px">
          <path
            d="M231.6 256l130.1-130.1c4.7-4.7 4.7-12.3 0-17l-22.6-22.6c-4.7-4.7-12.3-4.7-17 0L192 216.4 61.9 86.3c-4.7-4.7-12.3-4.7-17 0l-22.6 22.6c-4.7 4.7-4.7 12.3 0 17L152.4 256 22.3 386.1c-4.7 4.7-4.7 12.3 0 17l22.6 22.6c4.7 4.7 12.3 4.7 17 0L192 295.6l130.1 130.1c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17L231.6 256z"
          ></path>
        </svg>
      </button>

      <form
        action="https://gmail.us20.list-manage.com/subscribe/post?u=6fc5b8f238df7a8cde4bac827&amp;id=994c839848"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div id="mc_embed_signup_scroll">
          <h2 style="margin-bottom: 0; text-align: center">
            Sign up for early access!
          </h2>
          <div
            style="width: 50%;
          border-top: 1.1px solid rgb(216, 216, 216); margin: 10px auto 20px auto"
          ></div>
          <h3
            style="font-size:16px; line-height: 20px; margin-bottom: 16px; padding: 0 15px;"
            class="section-subheading text-muted"
          >
            This ebook is still in early development but you will be the first
            to know as soon as it is ready for general release in August 2019.
            <br />
            <br />
            Price: $9.99
            <br />
            <br />Just enter your name and email address below and click the
            "Sign Up" button to be the first in line to buy the book:
          </h3>

          <div class="custom-form-wrapper">
            <input
              placeholder="Enter your first name..."
              type="text"
              value=""
              name="FNAME"
              class="custom-input"
              id="mce-FNAME"
            />
            <input
              placeholder="Enter your email address..."
              type="email"
              value=""
              name="EMAIL"
              class="required email custom-input"
              id="mce-EMAIL"
            />
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input
                type="text"
                name="b_6fc5b8f238df7a8cde4bac827_994c839848"
                tabindex="-1"
                value=""
              />
            </div>
            <div class="button-styles-tbd">
              <input
                type="submit"
                value="SIGN UP"
                name="subscribe"
                id="mc-embedded-subscribe"
                class="button custom-button"
              />
            </div>
          </div>
          <div id="mce-responses" class="clear">
            <div
              class="response"
              id="mce-error-response"
              style="display:none"
            ></div>
            <div
              class="response"
              id="mce-success-response"
              style="display:none"
            ></div>
          </div>
        </div>
      </form>
    </div>
    <script
      type="text/javascript"
      src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
    ></script
    ><script type="text/javascript">
      (function($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[1] = "FNAME";
        ftypes[1] = "text";
        fnames[0] = "EMAIL";
        ftypes[0] = "email";
      })(jQuery);
      var $mcj = jQuery.noConflict(true);
    </script>
    <!--End mc_embed_signup-->
  </div>
</div>
