<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted">
          Some background about this site...
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img
            src="img/about/new-profile-edited.jpg"
            class="img-responsive img-circle"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted">
          I am a Fullstack Web Developer and Product Engineer specialising in
          Python/Django and Javascript/React.
        </p>

        <p class="large text-muted">
          Over the past couple of years I have worked at a number startups and
          tech companies ranging from such diverse areas as restaurant bookings
          and peer-to-peer furniture selling to insurance and fintech.
        </p>

        <p class="large text-muted">
          Before deciding to switch careers to technology and web development, I
          was a reporter in London, and worked as a freelance journalist in
          Israel and the West Bank.
        </p>

        <p class="large text-muted">
          In 2013 I was nominated for the BBC Student Innovation Award as a
          result of my work on "Drone Journalism".
        </p>

        <!-- <p class="large text-muted">
          Check back here for regular updates, including new timelines on a
          number of wide-ranging historical periods and subjects.
        </p> -->
      </div>
    </div>
  </div>
</section>
