<style>
	footer {
		margin-top: auto;		
	}
	.footer_wrapper {
		display: flex;
		justify-content: center;
		padding-top: 1.25rem;
    padding-bottom: 1rem;
		background-color: #242424;		
		font-size: 0.9rem;
	}	
	.copyright {
		margin-right: 1rem;
	}
	.policies a {
		text-decoration: underline;
	}
</style>
<footer>
	<div class="footer_wrapper">
		<p class="copyright">
			&copy; Copyright Robostox
		</p>
		<p class="policies">			
			<a href="">Terms</a> | 
			<a href="">Privacy</a> | 
			<a href="">Support</a>
		</p>
</div>
</footer>