<style>
	footer {
		margin-top: auto;		
	}
	.footer_wrapper {
		display: flex;
		justify-content: center;
		position: relative;
		padding: 1.25rem 1.5rem 1rem 1.5rem;    
		background-color: rgba(0,0,0,0.4);		
		font-size: 0.9rem;
		text-align: center;

	}
	.image_reference a {
		text-decoration: underline;
	}
</style>
<footer>
	<div class="footer_wrapper">
		<p class="image_reference">
			Background photograph taken by Daniel Easterman. See: <a href="https://en.wikipedia.org/wiki/Alhambra">Alhambra.</a>
		</p>		
</div>
</footer>