<div id="wallpaper" class="wallpaper" data-image="img/alhambra.jpg"></div>
    <div class="content">
      <div class="content_wrapper">
      <aside class="side">
        <figure id="picture" class="picture">
          <div class="picture-shadow"></div>
          <img id="pictureImage" class="picture-image"
               src="img/dan.jpg"
               srcset="img/dan.jpg 1x,
                       img/dan@2x.jpg 2x,
                       img/dan@3x.jpg 3x"
               alt="Portrait of Daniel Easterman"
               width="320"
               height="320">
        </figure>
      </aside>
      <main class="about">
        <h1 class="name">Daniel Easterman</h1>
        <p class="job">Founder / Software Developer</p>
        <hr class="hr">
        <div class="description">
          <p>
            Former Journalist. Coding in Python.<br>Interested in tech stocks, crypto and web3.
          </p>
        </div>        
        <ul class="social">
          <li>
            <a target="_blank" href="https://twitter.com/daneasterman">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/daneasterman">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://uk.linkedin.com/in/danieleasterman">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </main>
      </div>
    </div>