<div id="wallpaper" class="wallpaper" data-image="images/austria.jpg"></div>
    <div class="content">
      <aside class="side">
        <figure id="picture" class="picture">
          <div class="picture-shadow"></div>
          <img id="pictureImage" class="picture-image"
               src="images/alex.jpg"
               srcset="images/alex.jpg 1x,
                       images/alex@2x.jpg 2x,
                       images/alex@3x.jpg 3x"
               alt="Portrait of Daniel Easterman"
               width="320"
               height="320">
        </figure>
      </aside>
      <main class="about">
        <h1 class="name">
          Hey, I'm Daniel
        </h1>
        <p class="job">
          Founder / Software Developer
        </p>
        <hr class="hr">
        <div class="description">
          <p>
            I spend my time traveling the world,
            helping startups and tech businesses
            hire the best people.
          </p>
        </div>
        <div class="contact">
          <a class="button" href="mailto:youremail@example.com">
            Get in touch
          </a>
        </div>
        <ul class="social">
          <li>
            <a href="https://twitter.com/daneasterman">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/daneasterman">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://uk.linkedin.com/in/danieleasterman">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </main>
    </div>