<!-- jQuery Version 1.11.0 -->
<script src="/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<script src="/js/timeline.js"></script>
  <script>
    var timeline = new TL.Timeline('timeline', '../data/england.json', {
      // ga_property_id: "UA-27829802-4"
    });
    window.onresize = function (event) {
      timeline.updateDisplay();
    }
  </script>

<!-- New page scroll feature -->
<!-- <script src="/js/jquery.easing.min.js"></script> -->
<!-- <script src="/js/page-scroll.js"></script> -->




