<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand ga-track" href="/#danieleasterman" data-category="header-link" data-action="click" data-label="Daniel Easterman Main Header Link">Daniel Easterman</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <!-- Commented out portfolio -->
              <!-- <li>
                  <a class="page-scroll" href="/#portfolio" data-category="header-link" data-action="click" data-label="Portfolio">Portfolio</a>
              </li> -->
              <li>
                  <a class="ga-track" href="/#about" data-category="header-link" data-action="click" data-label="About">About</a>
              </li>
              <li>
                  <a class="ga-track" href="/england-worldcup" data-category="header-link" data-action="click" data-label="England World Cup">England World Cup</a>
              </li> 
              <!-- Commented out journalism site -->
              <!-- <li>
                  <a class="page-scroll" href="//danieleasterman.com.s3-website-eu-west-1.amazonaws.com/">Journalism Site</a>
              </li> --> 
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>