<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
      {% include nav.html %}
      
      <style>
        html,body { height: 94%; width: 100%; padding: 0; margin: 0;}

			.tl-slide-text-only .tl-slide-content-container .tl-slide-content .tl-text {
				bottom: -125px;				
				position: relative;
				background: rgba(0, 0, 0, .6);
				padding: 20px;
				width: 50%;
			}

			.tl-headline-date { display: none }
			
		</style>
      
      <div id="england_football"></div>
      <script src="../../js/timeline.js"></script>
      
      <script>
          var timeline = new TL.Timeline('england_football', '../../json/england_football.json', {});
          window.onresize = function (event) { timeline.updateDisplay(); }
      </script>
			
  </body>
</html>